html, body {
  color: black;
  height: 100%;
  margin: 0;
  background: #e6e6e6;
}

.navbar {
  position: fixed;
   top: 0px;
   width: 100%;
   background: #800080;
}


#container {
  width: 900px;
  background: #e6e6e6;
  margin:auto;
  height: auto;
  padding-top: 5%;
  padding-bottom: 8%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30% 30% 30%;
}

#header {
  height: 40px;
  grid-area: header;
  grid-column: 1 / span 3;
  grid-row: 1;

}

#header .line {
  padding-top: 40px;
  border-bottom: 3px solid #b300b3;
}



#header .header-title {
  font-size: 25px;
  color: #660066;
  font-family: "Lucida Console";
  width: 200px;
  float:left;
}

#header .header-action {
  float: right;
}

#productblock {

}
.product {
 width: 250px;
 border:  1px solid;
 height: 200px;
 border-radius: 10px;
 margin-left: 2px;
 margin-right: 2px;
}

.product input {
  margin-left: 5px;
}

.product-text {
 margin-top: 10px;
 text-align: center;
}

.product-text-line {
  line-height: 2;
  border-bottom: 1px solid;
}

.container-fluid input {
  width: 200px;
}

.container-fluid select {
  width: 200px;
}

.product-delete {
 width: 250px;
 border:  1px solid;
 height: 200px;
 border-radius: 10px;
 margin-left: 2px;
 margin-right: 2px;
 background: red;
 color: white;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #4d004d;
  text-align: center;
  color: white;
}


@media (max-width: 1000px)
 {
   #container {
     width: 500px;
     background: #e6e6e6;
     margin:auto;
     height: auto;
     padding-top: 5%;
     padding-bottom: 8%;
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 40% 40%;
   }

   #header {
     height: 40px;
     grid-area: header;
     grid-column: 1 / span 2;
     grid-row: 1;
     padding-top: 10%;
     padding-bottom: 8%;
   }

   #header .header-title {
     font-size: 18px;
     color: #660066;
     font-family: "Lucida Console";
     width: auto;
     float:left;
   }


   #header select {
     width: 150px;
   }
   .product {
    width: 200px;
    border:  1px solid;
    height: 200px;
    border-radius: 10px;
   }

}

@media (max-width: 500px)
 {
   #container {
     width: 500px;
     background: #e6e6e6;
     margin:auto;
     height: auto;
     padding-top: 5%;
     padding-left: 18%;
     padding-bottom: 8%;
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 80%;
   }

   #header {
     height: 40px;
     grid-area: header;
     grid-column: 1 / span 1;
     grid-row: 1;
         padding-top: 15%;
         padding-bottom: 10%;
   }

   #header .header-title {
     font-size: 15px;
     color: #660066;
     font-family: "Lucida Console";
     width: auto;
     float:left;
   }


   #header select {
     width: 100px;
   }

   .product {
    width: 200px;
    border:  1px solid;
    height: 200px;
    border-radius: 10px;
   }


}
